### 2021_09_29_5

### ì½”ë¡œë‚˜ ë°ì´í„°ì™€ ë°±ì‹  ë°ì´í„° í•©ë³‘

In [2]:
import pandas as pd

### ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
* ì½”ë¡œë‚˜ : ./CSV/2021-09-28_corona.csv
* ë°±ì‹  : ./CSV/20210929_14_vaccine_bloomberg.csv
* ë‚˜ë¼ ì½”ë“œ : ./CSV/country.csv

In [3]:
# excel ë°ì´í„°ëŠ” pd.read_excelë¡œ ê°€ì ¸ì˜¬ ìˆ˜ ìˆìŒ.

corona = pd.read_csv("./CSV/2021-09-28_corona.csv")
vaccine = pd.read_csv("./CSV/20210929_14_vaccine_bloomberg.csv")
country_code = pd.read_csv("./CSV/country.csv", encoding = "euc-kr")

In [4]:
print("corona shape :", corona.shape)
print("vaccine shape :", vaccine.shape)
print("country_code shape :", country_code.shape)

corona shape : (222, 13)
vaccine shape : (207, 6)
country_code shape : (227, 4)

In [5]:
country_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)  221 non-null    object
 1   ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)   202 non-null    object
 2   ë‚˜ë¼         12 non-null     object
 3   ë¹„ê³ _ëœ»       30 non-null     object
dtypes: object(4)
memory usage: 7.2+ KB

In [6]:
corona.head(3)

,êµ­ê°€,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_1ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_1ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_1ì¼,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_1ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,1.6,76.0,133058,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,21819.0,-275.0
1,ì¸ë„ğŸ‡®ğŸ‡³,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,8944.0,NaN
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,8318.0,NaN

In [7]:
vaccine.head(3)

,êµ­ê°€,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,Global Total,6.199444e+09,-999.0,-999.0,-999.0,29152868.0
1,Mainland China,2.203185e+09,78.7,78.6,73.0,3171286.0
2,India,8.765386e+08,32.0,46.7,16.8,7178901.0

In [8]:
country_code.head(3)

  êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ) ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)   ë‚˜ë¼ ë¹„ê³ _ëœ»
0        ê°€ë‚˜    Ghana  NaN  NaN
1        ê°€ë´‰    Gabon  NaN  NaN
2      ê°€ì´ì•„ë‚˜   Guyana  NaN  NaN

### ì½”ë¡œë‚˜ ë°ì´í„° êµ­ê°€ëª…ì—ì„œ í•œê¸€ ì¶”ì¶œ

In [9]:
corona["êµ­ê°€"].str.extract('([á„€-á…µê°€-í£]+)').head(3)

     0
0   ë¯¸êµ­
1   ì¸ë„
2  ë¸Œë¼ì§ˆ

In [10]:
corona["í•œê¸€í‘œê¸°"] = corona["êµ­ê°€"].str.extract('([á„€-á…µê°€-í£]+)', expand = False)
corona.columns

Index(['êµ­ê°€', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜', 'í™•ì§„ì_í•©ê³„', 'í™•ì§„ì_1ì¼', 'ì‚¬ë§ì_í•©ê³„',
       'ì‚¬ë§ì_1ì¼', 'ì™„ì¹˜_í•©ê³„', 'ì™„ì¹˜_1ì¼', 'ìœ„ì¤‘ì¦_í•©ê³„', 'ìœ„ì¤‘ì¦_1ì¼', 'í•œê¸€í‘œê¸°'],
      dtype='object')

### ìƒˆë¡œìš´ ë°ì´í„° í”„ë ˆì„ ìƒì„±
* ì»¬ëŸ¼ ìˆœì„œ ë³€ê²½

In [11]:
col = ['êµ­ê°€', 'í•œê¸€í‘œê¸°', 'ìœ„ì¤‘ì¦_í•©ê³„', 'ìœ„ì¤‘ì¦_1ì¼', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)',
       'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜', 'í™•ì§„ì_í•©ê³„', 'í™•ì§„ì_1ì¼', 'ì‚¬ë§ì_í•©ê³„','ì‚¬ë§ì_1ì¼', 
       'ì™„ì¹˜_í•©ê³„', 'ì™„ì¹˜_1ì¼']

new_corona = corona[col].copy()
new_corona.head(3)

,êµ­ê°€,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_1ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_1ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_1ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133058,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0
1,ì¸ë„ğŸ‡®ğŸ‡³,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0

### country_code ì»¬ëŸ¼ëª… ë³€ê²½

In [12]:
country_code.columns

Index(['êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)', 'ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)', 'ë‚˜ë¼', 'ë¹„ê³ _ëœ»'], dtype='object')

In [13]:
country_code.columns = ["han_code", "eng_code", "country", "etc"]
country_code.head(3)

  han_code eng_code country  etc
0       ê°€ë‚˜    Ghana     NaN  NaN
1       ê°€ë´‰    Gabon     NaN  NaN
2     ê°€ì´ì•„ë‚˜   Guyana     NaN  NaN

### ë‘ ë°ì´í„° ì—°ê²°(merge)

In [14]:
df_corona = new_corona.merge(country_code, left_on = "í•œê¸€í‘œê¸°",
                            right_on = "han_code")
df_corona.head(3)

,êµ­ê°€,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_1ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_1ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_1ì¼,han_code,eng_code,country,etc
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133058,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,ë¯¸êµ­,U.S.,NaN,NaN
1,ì¸ë„ğŸ‡®ğŸ‡³,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,ì¸ë„,India,NaN,NaN
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,ë¸Œë¼ì§ˆ,Brazil,NaN,NaN

### í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ
* êµ­ê°€, han_code, country, etc

In [15]:
df_corona.drop(["êµ­ê°€", "han_code", "country", "etc"], axis = 1, inplace = True)

In [16]:
df_corona.head(3)

,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_1ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_1ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_1ì¼,eng_code
0,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133058,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.
1,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,India
2,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil

In [17]:
vaccine.head(3)

,êµ­ê°€,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,Global Total,6.199444e+09,-999.0,-999.0,-999.0,29152868.0
1,Mainland China,2.203185e+09,78.7,78.6,73.0,3171286.0
2,India,8.765386e+08,32.0,46.7,16.8,7178901.0

### df_corona, vaccine merge
* df_corona_all ìƒì„±

In [18]:
df_corona_all = df_corona.merge(vaccine, left_on = "eng_code",
                               right_on = "êµ­ê°€")

In [19]:
df_corona_all.head(3)

,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_1ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_1ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_1ì¼,eng_code,êµ­ê°€,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133058,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.,U.S.,391152580.0,61.1,64.4,55.8,701422.0
1,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,India,India,876538600.0,32.0,46.7,16.8,7178901.0
2,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil,Brazil,233261970.0,56.5,71.3,41.9,1317163.0

### êµ­ê°€ ì»¬ëŸ¼ ì‚­ì œ

In [20]:
df_corona_all.drop(["êµ­ê°€"], axis = 1, inplace = True)

In [21]:
df_corona_all.head(3)

,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_1ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_1ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_1ì¼,eng_code,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133058,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.,391152580.0,61.1,64.4,55.8,701422.0
1,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,India,876538600.0,32.0,46.7,16.8,7178901.0
2,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil,233261970.0,56.5,71.3,41.9,1317163.0

### ìµœì¢… ë°ì´í„° í”„ë ˆì„ ìƒì„±
* ì»¬ëŸ¼ ìˆœì„œ ì§€ì •
    * ['í•œê¸€í‘œê¸°', 'eng_code', 'ìœ„ì¤‘ì¦', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜', 'í™•ì§„ì_í•©ê³„', 'í™•ì§„ì_1ì¼,'ì‚¬ë§ìí•©ê³„', 'ì‚¬ë§ì1ì¼', 'ì™„ì¹˜í•©ê³„', 'ì™„ì¹˜1ì¼', 'ë°±ì‹ ì ‘ì¢…ìˆ˜', 'Enough_for_percent_of_people:', '1ì°¨ì ‘ì¢…', '2ì°¨ì ‘ì¢…', 'ì¼ë³„ì ‘ì¢…ìˆ˜' ]

In [22]:
df_corona_all.columns

Index(['í•œê¸€í‘œê¸°', 'ìœ„ì¤‘ì¦_í•©ê³„', 'ìœ„ì¤‘ì¦_1ì¼', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜', 'í™•ì§„ì_í•©ê³„',
       'í™•ì§„ì_1ì¼', 'ì‚¬ë§ì_í•©ê³„', 'ì‚¬ë§ì_1ì¼', 'ì™„ì¹˜_í•©ê³„', 'ì™„ì¹˜_1ì¼', 'eng_code', 'ë°±ì‹ ì ‘ì¢…ìˆ˜',
       'Enough_percent_people', '1ì°¨ì ‘ì¢…', '2ì°¨ì ‘ì¢…', 'ì¼ë³„ì ‘ì¢…ìˆ˜'],
      dtype='object')

In [23]:
sel = ['í•œê¸€í‘œê¸°', 'eng_code', 'ìœ„ì¤‘ì¦_í•©ê³„', 'ìœ„ì¤‘ì¦_1ì¼', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 
       'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜', 'í™•ì§„ì_í•©ê³„', 'í™•ì§„ì_1ì¼', 'ì‚¬ë§ì_í•©ê³„', 'ì‚¬ë§ì_1ì¼', 
       'ì™„ì¹˜_í•©ê³„', 'ì™„ì¹˜_1ì¼', 'ë°±ì‹ ì ‘ì¢…ìˆ˜', 'Enough_percent_people', 
       '1ì°¨ì ‘ì¢…', '2ì°¨ì ‘ì¢…', 'ì¼ë³„ì ‘ì¢…ìˆ˜']
result_df = df_corona_all[sel].copy()
result_df.head(3)

,í•œê¸€í‘œê¸°,eng_code,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_1ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_1ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_1ì¼,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,ë¯¸êµ­,U.S.,21819.0,-275.0,1.6,76.0,133058,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,391152580.0,61.1,64.4,55.8,701422.0
1,ì¸ë„,India,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,876538600.0,32.0,46.7,16.8,7178901.0
2,ë¸Œë¼ì§ˆ,Brazil,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,233261970.0,56.5,71.3,41.9,1317163.0

### ìµœì¢… ë°ì´í„° í”„ë ˆì„ ì»¬ëŸ¼ëª… ë³€ê²½

In [24]:
result_df.columns

Index(['í•œê¸€í‘œê¸°', 'eng_code', 'ìœ„ì¤‘ì¦_í•©ê³„', 'ìœ„ì¤‘ì¦_1ì¼', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜',
       'í™•ì§„ì_í•©ê³„', 'í™•ì§„ì_1ì¼', 'ì‚¬ë§ì_í•©ê³„', 'ì‚¬ë§ì_1ì¼', 'ì™„ì¹˜_í•©ê³„', 'ì™„ì¹˜_1ì¼', 'ë°±ì‹ ì ‘ì¢…ìˆ˜',
       'Enough_percent_people', '1ì°¨ì ‘ì¢…', '2ì°¨ì ‘ì¢…', 'ì¼ë³„ì ‘ì¢…ìˆ˜'],
      dtype='object')

In [25]:
result_df.columns = ['êµ­ê°€ëª…', 'eng_code', 'ìœ„ì¤‘ì¦_í•©ê³„', 'ìœ„ì¤‘ì¦_1ì¼', 
                     'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜', 'í™•ì§„ì_í•©ê³„', 
                     'í™•ì§„ì_1ì¼', 'ì‚¬ë§ì_í•©ê³„', 'ì‚¬ë§ì_1ì¼', 'ì™„ì¹˜_í•©ê³„', 
                     'ì™„ì¹˜_1ì¼', 'ë°±ì‹ ì ‘ì¢…', 'ì ‘ì¢…ê°€ëŠ¥ë¥ (ì¸êµ¬)', 
                     '1ì°¨ì ‘ì¢…', '2ì°¨ì ‘ì¢…', 'ì¼ë³„ì ‘ì¢…ìˆ˜']

In [26]:
result_df.head(3)

,êµ­ê°€ëª…,eng_code,ìœ„ì¤‘ì¦_í•©ê³„,ìœ„ì¤‘ì¦_1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ì_í•©ê³„,í™•ì§„ì_1ì¼,ì‚¬ë§ì_í•©ê³„,ì‚¬ë§ì_1ì¼,ì™„ì¹˜_í•©ê³„,ì™„ì¹˜_1ì¼,ë°±ì‹ ì ‘ì¢…,ì ‘ì¢…ê°€ëŠ¥ë¥ (ì¸êµ¬),1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,ë¯¸êµ­,U.S.,21819.0,-275.0,1.6,76.0,133058,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,391152580.0,61.1,64.4,55.8,701422.0
1,ì¸ë„,India,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,876538600.0,32.0,46.7,16.8,7178901.0
2,ë¸Œë¼ì§ˆ,Brazil,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,233261970.0,56.5,71.3,41.9,1317163.0

### corona vaccine merge csv íŒŒì¼ ìƒì„±

In [27]:
result_df.to_csv("./CSV/corona_vaccine_merge.csv")